::-webkit-scrollbar {
    display: none;
  }
.container{
    .box{
        display: flex;
        justify-content: center;
        a{
            text-decoration: none;
            color : #000;
        }
        .left_side{
            position: absolute;
            top: 50%;
            transform: translate(0, -50%);
            border-radius: 10px 10px;
            width: 280px;
            // padding: 10px;
            height: 568px;
            overflow: hidden; // scroll 대신 hidden으로 바꿈
            box-sizing: border-box;
            box-shadow: 0px 0px 5px 5px rgba(182, 182, 182, 0.521);
            .option_type{
                width: 100%;
                background-color: #fff8c7;;
                .type_profile{
                    padding: 5%;
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    img{
                        border-radius: 50%;
                        width: 80px;
                        height: 80px;
                        object-fit: cover;
                    }
                    .type_text{
                        font-size: 12px;
                        // font-weight: bolder;
                        text-align: center;
                    }
                }
            }
            .left_category{
                padding: 5px;
                display: flex;
                justify-content: space-around;
                background-color: #f6bd63;
                color: #fff;
                a{
                    color: #fff;
                }
                .default_active:hover{
                    color : #310b0b;
                }
                .active{
                    font-weight : 500;
                    border-bottom : 2px solid #9c3d54;
                    color: #9c3d54;
                    .active:hover{
                    color : #310b0b;
                    }
                }
                .unread_cnt{
                    position: absolute;
                    top: 50%;
                    right: -30%;
                    color: #fff;
                    font-size: 13px;
                    background: #ff1515;
                    width: 17px;
                    height: 17px;
                    text-align: center;
                    line-height: 1.2;
                    border-radius: 50%;
                }
            }
            .left_title{
                padding: 5%;
                display: flex;
                justify-content: space-between;
                font-size: 25px;
                font-weight: bolder;
                border-bottom: 2px solid rgba(170, 170, 170, 0.829);
                // align-items: center;
                .search_friend{
                    display: flex;
                    align-items: center;
                    .input_box{
                        border: 2px solid #f6bd63;
                        border-radius: 15px 15px;
                        padding: 5px;
                        display: flex;
                        align-items: center;
                        height: 12px;
                        input{
                            width: 100px;
                            height: 10px;
                            outline: none;
                            margin-right: 5px;
                            border: none;
                        }
                        .search_icon{
                            color: #f6bd63;
                        }
                    }
                    .add_friend{
                        margin-left: 5px;
                    }
                }
            }
            // 프로필 영역
            .myfile{
                padding : 10px;
                display: flex;
                align-items: center;
                a{
                    text-decoration: none;
                    color: #000;
                    width: 100%;
                    display: flex;
                    align-items: center;
                }
                img{
                    margin-left: 15px;
                    width: 60px;
                    height: 60px;
                    border-radius: 50%;
                    object-fit: cover;
                }
                .text_site{
                    margin-left : 20px;
                    .top{
                        font-size: 17px;
                        font-weight: bolder;
                        margin-bottom: 5px;
                    }
                    .bottom{
                        font-size: 10px;
                        color: #7c7c7c;
                        font-weight: bolder;
                    }
                }
                .plus{
                    font-size: 30px;
                    color : #f6bd63;
                    margin-left: 50px;
                    cursor: pointer;
                }
            }
            .error_me{
                padding: 3% 5%;
                display: flex;
                align-items: center;
                cursor: pointer;
                background-color: #ffe194d1;
                color: #404040;
                height: 66px;
            }
            .change_update{
                height: 520px;
                .change{
                    font-size: 25px;
                    font-weight: bolder;
                }
                .form_change{
                    padding: 5px;
                    height: 510px;
                    display: flex;
                    align-items: center;
                    input{
                        padding: 2px 2px;
                        margin: 2%;
                        // margin-top: 2%;
                        // margin-bottom: 2%;
                        width: 250px;
                        font-size: 14px;
                        font-weight: bolder;
                        outline: none;
                        border: none;
                        border-bottom: 1px solid rgba(182, 182, 182, 0.521);
                    }
                }
                form{
                    
                    .profile_img_wrapper{
                        
                        img{
                            display: block;
                            width: 200px;
                            height: 200px;
                            border-radius: 100%;
                            margin: 0 auto;
                            margin-bottom: 10%;
                            object-fit: cover;
                        }
                    }
                }
            }
            // 친구추가영역
            .line{
                width: 85%;
                border-bottom: 2px solid rgba(170, 170, 170, 0.829);
                margin: 0 auto;
                .myProfile{
                    padding : 10px;
                    display: flex;
                    align-items: center;
                    img{
                        margin-left: 15px;
                        width: 60px;
                        height: 60px;
                        border-radius: 50%;
                        object-fit: cover;
                    }
                    .text_site{
                        margin-left : 20px;
                        .top{
                            font-size: 17px;
                            font-weight: bolder;
                            margin-bottom: 5px;
                        }
                        .bottom{
                            font-size: 10px;
                            color: #7c7c7c;
                            font-weight: bolder;
                        }
                    }
                    
                }
            }
            // 친구 추가 버튼
            .plus_site{
                // width: 80%;
                margin: 0 auto;
                padding: 3% 5%;
                display: flex;
                align-items: center;
                cursor: pointer;
                background-color: #ffe194d1;
                color: #404040;
                .plus_icon{
                    width: 35px;
                    border-radius: 30%;
                    height: 30px;
                    padding: 3.5%;
                    font-size: small;
                    margin-left: 5%;
                    background: #ffce7f;
                    border: 1px solid #b3b3b3;
                }
                div{
                    margin-left : 8%;
                    // font-weight: bolder;
                    font-size: 13px;
                }
            }
            // 친구 리스트 영역
            .myProfile{
                padding : 10px;
                display: flex;
                align-items: center;
                img{
                    margin-left: 15px;
                    width: 60px;
                    height: 60px;
                    border-radius: 50%;
                    object-fit: cover;
                }
                .text_site{
                    margin-left : 20px;
                    .top{
                        font-size: 17px;
                        font-weight: bolder;
                        margin-bottom: 5px;
                    }
                    .bottom{
                        font-size: 10px;
                        color: #7c7c7c;
                        font-weight: bolder;
                    }
                }
                .plus{
                    font-size: 30px;
                    color : #f6bd63;
                    margin-left: 50px;
                }
            }


            // Internet-title
            .intTitle{
                display: flex;
                justify-content: space-around;
                border-bottom: 2px solid rgba(170, 170, 170, 0.829);
                padding: 3%;
                font-weight: bolder;
                font-size: 16px;
                .default_active:hover{
                    color : #310b0b;
                }
                .active{
                    font-weight : 500;
                    border-bottom : 2px solid #f6bd63;
                    color: #f6bd63;
                    .active:hover{
                    color : #310b0b;
                    }
                }
            }
            // Internet-body-news
            .loading{
                font-size: 50px;
                font-weight: bolder;
                color : #f6bd63;
                margin-left: 40%;
                margin-top: 60%;
            }
            .news_top{
                overflow: scroll;
                height: 500px;
                .box_article{
                    border-bottom: 2px solid rgba(170, 170, 170, 0.829);
                    padding: 2px;
                    a{
                        text-decoration: none;
                        color: #000;
                        display: flex;
                        justify-content: space-around;
                        align-items: center;
                        img{
                            border-radius: 10px 10px;
                            width: 100px;
                            height: 100px;
                        }
                        span{
                            width: 150px;
                            font-size: 15px;
                            font-weight: bolder;
                        }
                    }
                }
            }
            .chatting_area{
                height: 530px;
                background-color: #f6bd63;
                .chat_inside{
                    padding: 5px;
                    height: 470px;
                    overflow: scroll;
                    background-color: #ffc5aa;
                    font-weight: bolder;
                    .chat_box{
                        ol{
                            padding:0;
                            .talk_box{
                                margin-top: 3px;
                                display: flex;
                                justify-content: flex-end;
                                // width: 280px;
                                img{
                                    width: 50px;
                                    height: 50px;
                                    border-radius: 100%;
                                    margin-left: 10px;
                                }
                                .say{
                                    display: flex;
                                    flex-direction: column;
                                    text-align: right;
                                    // width: 170px;
                                    .span_name{
                                        font-weight: bolder;
                                        font-size: 14px;
                                    }
                                    .span_mess{
                                        background-color: #ffdcc8;
                                        border-radius: 10px 10px;
                                        padding: 5px;
                                    }
                                }
                            }
                            .talk_box1{
                                margin-top: 3px;
                                display: flex;
                                justify-content: flex-start;
                                // width: 280px;
                                img{
                                    width: 50px;
                                    height: 50px;
                                    border-radius: 100%;
                                    margin-left: 10px;
                                }
                                .say1{
                                    display: flex;
                                    flex-direction: column;
                                    text-align: left;
                                    // width: 170px;
                                    .span_name1{
                                        font-weight: bolder;
                                        font-size: 14px;
                                    }
                                    .span_mess1{
                                        background-color: #ffcd94;
                                        border-radius: 10px 10px;
                                        padding: 5px;
                                    }
                                }
                            }
                        }
                    }
                }
                .btns{
                    margin-top: 8px;
                    display: flex;
                    justify-content: space-around;
                    .chat_input{
                        // border: none;
                        padding: 4px;
                        border: 2px solid #7c7c7c;
                        border-radius: 20px 20px;
                        width: 220px;
                    }
                    input:focus {outline:none;}
                    .send-message-button{
                        background-color: #9c3d54;
                        color: #fff;
                        border-radius: 10px 10px;
                        padding: 4px;
                    }
                }
            }
            .home-container{
                overflow: scroll;
                height: 500px;
                .chat_titles{
                    display: flex;
                    align-items: center;
                    svg{
                        width: 25px;
                        height: 25px;
                    }
                    font-size: 25px;
                    padding: 5%;
                    font-weight: bolder;
                    // border-bottom: 2px solid rgba(170, 170, 170, 0.829);
                }
                img{
                    width : 280px;
                    height: 60px;
                    // border-bottom: 2px solid rgba(170, 170, 170, 0.829);
                }
                .talking{
                    img{
                        width: 60px;
                        height: 60px;
                        border-radius: 100%;
                    }
                    .talk_site{
                        margin-top: 2px;
                        border-bottom: 1px solid rgba(170, 170, 170, 0.829);
                        display: flex;
                        justify-content: space-evenly;
                        align-items: center;
                        font-weight: bolder;
                        padding: 2px;
                        .talk_pro{
                            font-size: 14px;
                            width: 145px;
                            .talk_message{
                                color : #7c7c7c;
                            }
                            margin-left:10px;
                        }
                        .talk_div{
                            height: 62px;
                            .talk_time{
                                margin-top: 4px;
                                color: #7c7c7c;
                                font-size: 10px;
                            }
                            .talk_count{
                                font-size: 13px;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                width: 20px;
                                background-color: #ff1515;
                                color: #fff;
                                margin-top: 10px;
                                border-radius: 50%;
                                margin-left: 16px;
                            }
                        }
                    }
                }
            }
            .friend_profile{
                height: 530px;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                background-color: beige;
                img{
                    width: 200px;
                    height: 200px;
                    border-radius: 100%;
                }
                .friend_name{
                    font-size: 25px;
                    font-weight: bolder;
                }
                .friend_say{
                    color : #7c7c7c;
                    font-weight: bolder;
                }
                svg{
                    border : 3px solid beige;
                    border-radius: 100%;
                    font-size: 80px;
                    color:#f6bd63;
                }
                svg:hover{
                    color: #f3ad3d;
                    cursor: pointer;
                    border: 3px solid #f3ad3d;
                }
            }
            .option_container{
                height: 500px;
                width: 100%;
                .option_box{
                    padding-top: 20px;
                    padding-bottom: 20px;
                    text-align: center;
                    width: 100%;
                    border-bottom : 2px solid rgba(182, 182, 182, 0.521);
                    .option_list1{
                        ul{
                            margin: 0;
                            padding: 0;
                            padding: 10px;
                            border-radius: 20px 20px;
                            li{
                                width: 50px;
                                list-style: none;
                            }
                        }
                        display: flex;
                        justify-content: space-around;
                        margin-bottom: 20px;
                    }
                    .option_list2{
                        ul{
                            margin: 0;
                            padding: 0;
                            padding: 10px;
                            border-radius: 20px 20px;
                            li{
                                width: 50px;
                                list-style: none;
                            }
                        }
                        display: flex;
                        justify-content: space-around;
                        
                    }
                }
                .news_top{
                    width: 100%;
                    border-bottom: 2px solid rgba(182, 182, 182, 0.521);
                    height: 80px;
                    .news_head{
                        height: 100%;
                        display: flex;
                        justify-content: space-around;
                        .news_weather{
                            ul{
                                font-weight: bolder;
                                margin : 0;
                                padding : 10px;
                                list-style: none;
                            }
                        }
                    }
                }
                .egg_cont{
                    width: 100%;
                    text-align: center;
                    font-weight: bolder;
                    font-size: 13px;
                    text-shadow: 1px 1px #7c7c7c;
                    .egg_box{
                        width: 160px;
                        height: 160px;
                    }
                }
                .egg_log{
                    width: 90%;
                    margin: 0 auto;
                    border: 1px solid #7c7c7c;
                    border-radius: 10px 10px;
                    background-color: #f6bd63;
                    color: #fff;
                    margin-top: 5px;
                }
                
            }
        }
        .right_side{
            padding : 10px;
            width: 900px;
            min-width: 500px;
            box-shadow: 0px 0px 5px 5px rgba(182, 182, 182, 0.521);
        }
    }
}