.container{
    .box{
        display: flex;
        justify-content: center;
        .left_side{
            width: 280px;
            // padding: 10px;
            height: 568px;
            box-shadow: 0px 0px 5px 5px rgba(182, 182, 182, 0.521);
            .left_category{
                padding: 5px;
                display: flex;
                justify-content: space-around;
                background-color: #f6bd63;
                color: #fff;
                a{
                    color: #fff;
                }
                .default_active:hover{
                    color : #310b0b;
                }
                .active{
                    font-weight : 500;
                    border-bottom : 2px solid #9c3d54;
                    color: #9c3d54;
                    .active:hover{
                    color : #310b0b;
                    }
                }
            }
            .left_title{
                padding: 5px;
                display: flex;
                justify-content: space-between;
                font-size: 25px;
                font-weight: bolder;
                border-bottom: 2px solid rgba(170, 170, 170, 0.829);
                // align-items: center;
                .search_friend{
                    display: flex;
                    align-items: center;
                    .input_box{
                        border: 2px solid #f6bd63;
                        border-radius: 15px 15px;
                        padding: 5px;
                        display: flex;
                        align-items: center;
                        height: 12px;
                        input{
                            width: 100px;
                            height: 10px;
                            outline: none;
                            margin-right: 5px;
                            border: none;
                        }
                        .search_icon{
                            color: #f6bd63;
                        }
                    }
                    .add_friend{
                        margin-left: 5px;
                    }
                }
            }
            .myProfile{
                padding : 10px;
                display: flex;
                align-items: center;
                img{
                    margin-left: 15px;
                    width: 60px;
                    height: 60px;
                    border-radius: 50%;
                }
                .text_site{
                    margin-left : 20px;
                    .top{
                        font-size: 17px;
                        font-weight: bolder;
                        margin-bottom: 5px;
                    }
                    .bottom{
                        font-size: 10px;
                        color: #7c7c7c;
                        font-weight: bolder;
                    }
                }
            }
            .line{
                width: 85%;
                border-bottom: 2px solid rgba(170, 170, 170, 0.829);
                margin: 0 auto;
            }
            .plus_site{
                width: 80%;
                margin: 0 auto;
                padding: 5px;
                display: flex;
                align-items: center;
                .plus_icon{
                    width: 50px;
                    height: 40px;
                }
                div{
                    margin-left : 10px;
                    font-weight: bolder;
                    font-size: 18px;
                }
            }
        }
        .right_side{
            padding : 10px;
            width: 900px;
            min-width: 500px;
            box-shadow: 0px 0px 5px 5px rgba(182, 182, 182, 0.521);
        }
    }
}